# Can ignore specific files
.DS_Store

# Can also ignore all directories and files in a directory.
tmp/**/*

# Can ignore the test-result directories.
test-result/

# Can ignore the dependencies modules directories.
modules/

# Can ignore the data directory created by lucene.
data/*/*/* 


