#{extends 'main.html' /}
#{set title:'Change Password' /}

<div class="content">
	<div class="page-header">
		#{include 'settings_menu.html'/}
	</div>
	<div class="row">
		<div class="span10">
			#{form @alterPassword(), class: 'form-stacked'}
			<fieldset>
				<legend>Change Password of Current User</legend>
				<span class="help-inline">
					<font color="red">
						#{ifErrors}
							Please enter same password in both fields...
						#{/ifErrors}
					</font>
				</span>
				<div class="clearfix">
					<div class="input">
						<label for="verifyPassword">New Password *</label>
						<input type="password" name="verifyPassword" />
						<span class="help-inline"></span>
					</div>
				</div>
				<div class="clearfix">
					<div class="input">
						<label for="fullName">Re-enter New Password *</label>
						<input type="password" name="newPassword" />
						<span class="help-inline"></span>
					</div>
				</div>
				<button type="submit" class="btn primary">Change Password</button>
			</fieldset>
			#{/form}
		</div>
	</div>
</div>