#{extends 'main.html' /}
#{set title:'CV Pool' /}

<div class="content">
	<div class="page-header">
		<h1>CV Pool <small>Search technology using Lucence...</small></h1>
	</div>
	<div class="row">
		<div class="span14">
			#{form @cvPool(), class: 'form-stacked'}
			<fieldset>
				<legend>Search CV</legend>
				<div class="clearfix">
					<div class="input">
						<label for="expertise">Expertise *</label>
						<input class="span5" id="expertise" type="text" name="expertise"/>
						<span class="help-inline">Eg: Java, MS-WORD, Communication, Report Writing</span>
					</div>
				</div>
				<input type="submit" class="btn primary" value="Search"/>
			</fieldset>
			<span>
				<font color="red">
					#{if flash.error}
						${error ?: flash.error}
					#{/if}
				</font>
			</span>
			#{/form}
			<br/>
			#{ifnot applicants}
				No Applicants Found with <strong>${expertise}</strong> keyword
			#{/ifnot}
			#{else}
			<table class="zebra-striped">
				<tr>
					<th>Full Name</th>
					<th>Email</th>
					<th>Expertise</th>
					<th>CV</th>
					<th>Controls</th>
				</tr>
				#{list items:applicants, as:'applicant'}
				<tr>
					<td>${applicant?.fullName}</td>
					<td>${applicant?.email}</td>
					<td>${applicant?.expertise}</td>
					<td>#{a @Applicants.downloadFile(applicant?.id)}${applicant?.fileName}#{/a}</td>
					<td>#{a @Employees.showApplicant(applicant?.id)}View#{/a}
				</tr>
				#{/list}
			</table>
			#{/else}
		</div>
	</div>
</div>