#{extends 'main.html' /}
#{set title:'Edit Employee' + employee?.fullName /}

<div class="content">
	<div class="page-header">
		#{include 'settings_menu.html'/}
	</div>
	<div class="row">
		<div class="span14">
			#{form @updateEmployee(employee?.id), class: 'form-stacked'}
				<fieldset>
					<legend>Edit Employee</legend>
					#{if flash.success}
					<div class="alert-message success" data-alert="alert">
						<a class="close" href="#">×</a>
						<p>
							<strong>${flash.success}</strong>
						</p>
					</div>
			    #{/if}	
					#{if flash.error}
					<div class="alert-message error" data-alert="alert">
						<a class="close" href="#">×</a>
						<p>
							<strong>${error ?: flash.error}</strong>
						</p>
					</div>
					#{/if}
					#{field 'employee.fullName'}
					<div class="clearfix">
						<div class="input">
							<label for="fullName">Full Name *</label>
							<input class="span5" id="title" type="text" name="${field.name}" value="${employee?.fullName}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'employee.email'}
					<div class="clearfix">
						<div class="input">
							<label for="email">Email *</label>
							<input class="span5" id="email" type="text" name="${field.name}" value="${employee?.email}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'employee.phone'}
					<div class="clearfix">
						<div class="input">
							<label for="phone">Phone *</label>
							<input class="span5" id="phone" type="text" name="${field.name}" value="${employee?.phone}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'employee.department.id'}
					<div class="clearfix">
						<div class="input">
							<label for="department">Department *</label>
							#{select 'employee.department.id', value:employee?.department.id}
								#{list items:departments, as: 'department'}
									#{option department.id}${department.name}#{/option}
								#{/list}
							#{/select}
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					<input type="submit" class="btn primary" value="Update"/>
					#{a @listEmployees()}
						<input type="button" class="btn" value="Cancel"/>
					#{/a}
				</fieldset>
			#{/form}
		</div>
	</div>
</div>