#{extends 'main.html' /}
#{set title:'Human Equation UAE' /}

<div class="content">
	<div class="page-header">
		<h1>Latest CV Contents <small>Start your day with new smile...</small></h1>
	</div>
	<div class="row">
		<div class="span14">
			<table class="zebra-striped">
				<thead>
					<tr>
						<th>Full Name</th>
						<th>Email</th>
						<th>Expertise</th>
						<th>Phone</th>
						<th>CV</th>
						<th>Controls</th>
					</tr>
				</thead>
				#{list items:applicants, as: 'applicant'}
				<tbody>
					<tr>
						<td>${applicant?.fullName}</td>	
						<td>${applicant?.email}</td>
						<td>${applicant?.expertise}</td>
						<td>${applicant?.phone}</td>
						<td>${applicant?.cv}</td>
						<td>View</td>
					</tr>
				</tbody>
				#{/list}
			</table>
		</div>
	</div>
</div>