#{extends 'main.html' /}
#{set title:'Employees' /}

<div class="content">
	<div class="page-header">
		#{include 'settings_menu.html'/}
	</div>
	<div class="row">
		<div class="span14">
			<p>
				#{a @newEmployee()}
					<input type="button" class="btn" value="Add Employee"/>
				#{/a}
			</p>
			#{ifnot paginator}
				<h2>No Employees....</h2>
			#{/ifnot}
			#{else}
			<table class="zebra-striped">
				<thead>
					<tr>
						<th>FullName</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Department</th>
						<th>Controls</th>
					</tr>
				</thead>
				#{paginate.list items:paginator, as: 'employee'}
				<tbody>
					<tr>
						<td>${employee?.fullName}</td>	
						<td>${employee?.email}</td>
						<td>${employee?.phone}</td>
						<td>${employee?.department.name}</td>
						<td>
							#{a @editEmployee(employee?.id)}Edit#{/a} ||
							#{a @removeEmployee(employee?.id)}Remove#{/a}
						</td>
					</tr>
				</tbody>
				#{/paginate.list}
			</table>
			#{paginate.controls items:paginator /}
			#{paginate.summary items:paginator/}
			#{/else}
		</div>
	</div>
</div>