#{extends 'main.html' /}
#{set title:'Settings' /}

<div class="content">
	<div class="page-header">		
		#{include 'settings_menu.html'/}
	</div>
	<div class="row">
		<div class="span10">
			#{form @updateUser(employee?.id), class: 'form-stacked'}
			#{if flash.success}
			<div class="alert-message success" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${flash.success}</strong>
				</p>
			</div>
	    #{/if}	
			#{if flash.error}
			<div class="alert-message error" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${error ?: flash.error}</strong>
				</p>
			</div>
			#{/if}
			<fieldset>
				<legend>Profile Employee</legend>
				#{field 'employee.fullName'}
				<div class="clearfix">
					<div class="input">
						<label for="fullName">Full Name *</label>
						<input type="text" name="${field.name}" value="${employee?.fullName}" />
						<span class="help-inline"></span>
					</div>
				</div>
				#{/field}
				#{field 'employee.phone'}
				<div class="clearfix">
					<div class="input">
						<label for="phone">Phone *</label>
						<input type="text" name="${field.name}" value="${employee?.phone}" />
						<span class="help-inline"></span>
					</div>
				</div>
				#{/field}
				#{field 'employee.department.id'}
				<div class="clearfix">
					<div class="input">
						<label for="department">Department *</label>
						#{select 'employee.department.id', value:employee?.department.id}
							#{list items:departments, as: 'department'}
								#{option department?.id}${department?.name}#{/option}
							#{/list}
						#{/select}
						<span class="help-inline"></span>
					</div>
				</div>
				#{/field}
				#{field 'employee.role.id'}
				<div class="clearfix">
					<div class="input">
						<label for="role">Role *</label>
						#{select 'employee.role.id', value:employee?.role.id}
							#{list items:roles, as: 'role'}
								#{option role?.id}${role?.name}#{/option}
							#{/list}
						#{/select}
						<span class="help-inline"></span>
					</div>
				</div>
				#{/field}
				<button type="submit" class="btn primary">Update Profile</button>
			</fieldset>
			#{/form}
		</div>
	</div>
</div>