#{extends 'main.html' /}
#{set title:'Job Category' /}

<div class="content">
    <div class="page-header">
		#{include 'jobs_menu.html'/}
    </div>
	<h2>Job Category</h2>
	#{if flash.success}
	<div class="alert-message success" data-alert="alert">
		<a class="close" href="#">×</a>
		<p>
			<strong>${flash.success}</strong>
		</p>
	</div>
  #{/if}
	#{if flash.error}
	<div class="alert-message error" data-alert="alert">
		<a class="close" href="#">×</a>
		<p>
			<strong>${error ?: flash.error}</strong>
		</p>
	</div>
	#{/if}
	#{ifnot jobCategories}
		No Job Categories Found...
	#{/ifnot}
	#{else}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Control</th>
			</tr>
		</thead>
		<tbody>
		#{list items:jobCategories, as: 'category'}
			<tr>
				<td>${category?.name}</td>
				<td>
						#{a @removeJobCategory(category?.id)}Remove#{/a} || 
						#{a @editJobCategory(category?.id)}Edit#{/a}
				</td>
			</tr>
		#{/list}
	</table>
	#{/else}
    <div class="row">
      <div class="span14">
		#{form @addJobCategory(), class: 'form-stacked'}
		<fieldset>
			#{field 'category.name'}
			<div class="clearfix">
				<div class="input">
					<label for="jobCategory">Job Category *</label>
					<input class="span5" id="jobCategory" type="text" name="${field.name}"/>
					<span class="help-inline"></span>
				</div>
			</div>
			#{/field}
			<button type="submit" class="btn primary">Add Job Category</button>
		</fieldset>
		#{/form}
      </div>
    </div>
  </div>