#{extends 'main.html' /}
#{set title:'Change Password'/}

<div class="content">
	<div class="page-header">
		<h1>Change Password <small>Now you can change your own password...</small></h1>
	</div>
	<div class="row">
		<div class="span14">
			#{form @updatePassword(), class: 'form-stacked'}
			<fieldset>
				<legend>Change Password</legend>
				<div class="clearfix">
					<div class="input">
						<label for="oldPassword">Old Password *</label>
						<input type="password" name="oldPassword" />
						<span class="help-inline"></span>
					</div>
				</div>
				<div class="clearfix">
					<div class="input">
						<label for="verifyPassword">New Password *</label>
						<input type="password" name="verifyPassword" />
						<span class="help-inline"></span>
					</div>
				</div>
				<div class="clearfix">
					<div class="input">
						<label for="fullName">Re-enter New Password *</label>
						<input type="password" name="newPassword" />
						<span class="help-inline"></span>
					</div>
				</div>
				<input type="submit" class="btn primary" value="Change Password"/>
				#{a @Applicants.index()}<input type="button" class="btn" value="Cancel"/>#{/a}
			</fieldset>
			#{if flash.success}
			<div class="alert-message success" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${flash.success}</strong>
				</p>
			</div>
	    #{/if}	
			#{if flash.error}
			<div class="alert-message error" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${error ?: flash.error}</strong>
				</p>
			</div>
			#{/if}
			#{/form}
		</div>
	</div>
</div>