#{extends 'main.html' /}
#{set title:'Welcome ' + applicant?.fullName /}

<div class="content">
	<div class="page-header">
		<h1>Edit <small>Start your day with new smile...</small></h1>
	</div>
	<div class="row">
		<div class="span10">
			#{form @update(applicant?.id), class: 'form-stacked', enctype:'multipart/form-data'}
				<fieldset>
					<legend>Edit Profile</legend>
					#{field 'applicant.fullName'}
					<div class="clearfix">
						<div class="input">
							<label for="fullname">Full Name *</label>
							<input class="span5" type="text" id="firstName" name="${field.name}" value="${applicant?.fullName}">
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.phone'}
					<div class="clearfix">
						<div class="input">
							<label for="phone">Phone</label>
							<input class="span5" id="phone" type="text" name="${field.name}" value="${applicant?.phone}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.qualification'}
					<div class="clearfix">
						<div class="input">
							<label for="qualification">Qualification</label>
							<input class="span5" id="qualification" type="text" name="${field.name}" value="${applicant?.qualification}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.expertise'}
					<div class="clearfix">
						<div class="input">
							<label for="expertise">Expertise *</label>
							<input class="span5" id="expertise" type="text" name="${field.name}" value="${applicant?.expertise}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.yearsOfExperience'}
					<div class="clearfix">
						<div class="input">
							<label for="yearsOfExperience">Years of Experience</label>
							<input class="span5" id="yearsOfExperience" type="text" name="${field.name}" value="${applicant?.yearsOfExperience}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.address'}
					<div class="clearfix">
						<div class="input">
							<label for="address">Address</label>
							<input class="span5" id="address" type="text" name="${field.name}" value="${applicant?.address}" />
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					<div class="clearfix">
						<div class="input">
							<input type="file" name="file"><br/>
							<span class="help-inline">Upload your CV in pdf or doc format...</span>
						</div>
					</div>
					<input type="submit" class="btn primary" value="Update Profile"/>
				</fieldset>
			#{/form}
		</div>
	</div>
</div>