#{extends 'main.html' /}
#{set title:'Welcome ' + applicant?.firstName /}

<div class="content">
	<div class="page-header">
		<h1>Home <small>Start your day with new smile...</small></h1>
	</div>
	<div class="row">
		<div class="span10">
			<h2>Welcome ${applicant?.firstName}</h2>
			#{form @update(), class: 'form-stacked', id: 'signup-form'}
				<fieldset>
					<legend>New Applicant</legend>
					#{field 'applicant.firstName'}
					<div class="clearfix">
						<div class="input">
							<label for="fullname">First Name *</label>
							<input class="span5" type="text" id="firstName" name="${field.name}" value="${applicant?.firstName}">
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.middleName'}
					<div class="clearfix">
						<div class="input">
							<label for="middleName">Middle Name</label>
							<input class="span5" id="middleName" type="text" name="${field.name}" value="${applicant?.middleName}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.lastName'}
					<div class="clearfix">
						<div class="input">
							<label for="lastName">Last Name *</label>
							<input class="span5" id="lastName" type="text" name="${field.name}" value="${applicant?.lastName}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.email'}
					<div class="clearfix">
						<div class="input">
							<label for="email">Email *</label>
							<input class="span5" id="email" type="text" name="${field.name}" value="${applicant?.email}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.password'}
					<div class="clearfix">
						<div class="input">
							<label for="password">Password *</label>
							<input class="span5" id="password" type="password" name="${field.name}" value="${applicant?.password}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'verifyPassword'}
					<div class="clearfix">
						<div class="input">
							<label for="verifyPassword">Re-type Password *</label>
							<input class="span5" id="verifyPassword" type="password" name="${field.name}" value="${verifyPassword}" />
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'code'}
					<div class="clearfix">
						<div class="input">
							<label for="code">Please type the code below: </label>
							<img src="@{Applicants.captcha(randomID)}" />
						</div>
					</div>
					<div class="clearfix">
						<div class="input">
							<label> </label>
							<input type="text" name="code" id="code" size="18" value="" />
							<input type="hidden" name="randomID" value="${randomID}" /><br/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
			    #{/field}
					<input type="submit" class="btn primary" value="Sign Up"/>
				</fieldset>
			#{/form}
		</div>
	</div>
</div>