#{extends 'main.html' /}
#{set title:'Applicant - Forgot Password'/}

<div class="content">
	<div class="page-header">
		<h1>Request Password <small>Alzheimer! get your lost password here...</small></h1>
	</div>
	<div class="row">
		<div class="span10">
			#{form @sendPassword(), class: 'form-stacked', id: 'signup-form'}
			#{if flash.success}
			<div class="alert-message success" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${flash.success}</strong>
				</p>
			</div>
	    #{/if}
			#{if flash.error}
			<div class="alert-message error" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${error ?: flash.error}</strong>
				</p>
			</div>
			#{/if}
				<fieldset>
					<legend>Send Password</legend>
					<div class="clearfix">
						<div class="input">
							<label for="email">Email *</label>
							<input class="span5" type="text" id="email" name="email"/>
							<span class="help-inline"></span>
						</div>
					</div>
					<input type="submit" class="btn primary" value="Send Password"/>
				</fieldset>
			#{/form}
		</div>
	</div>
</div>