#{extends 'main.html' /}
#{set title:'Welcome ' + applicant?.fullName /}

<div class="content">
	<div class="page-header">
		<h1>Profile <small>Wow! you got your profile now...</small></h1>
	</div>
	<div class="row">
		<div class="span10">
			#{if flash.success}
			<div class="alert-message success" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${flash.success}</strong>
				</p>
			</div>
	    #{/if}	
			#{if flash.error}
			<div class="alert-message error" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${error ?: flash.error}</strong>
				</p>
			</div>
			#{/if}
				<table>
					<tr>
						<th>Full Name</th>
						<td>${applicant?.fullName}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>${applicant?.email}</td>
					</tr>
					<tr>
						<th>Phone</th>
						<td>${applicant?.phone}</td>
					</tr>
					<tr>
						<th>Qualification</th>
						<td>${applicant?.qualification}</td>
					</tr>
					<tr>
						<th>Expertise</th>
						<td>${applicant?.expertise}</td>
					</tr>
					<tr>
						<th>Years of Experience</th>
						<td>${applicant?.yearsOfExperience}</td>
					</tr>
					<tr>
						<th>Address</th>
						<td>${applicant?.address}</td>
					</tr>
					<tr>
						<th>CV</th>
						<td>${applicant?.cv}</td>
					</tr>
				</table>
				#{a @Applicants.edit(applicant?.id)}
					<input type="button" value="Edit" class="btn primary"/>
				#{/a}
		</div>
	</div>
</div>