#{extends 'main.html' /}
#{set title: 'Human Equation UAE'/}

<div class="content">
	<div class="page-header">
		<h2>List of Jobs Applied</h2>
	</div>
	<div class="row">
		<div class="span14">
			<div>
				#{ifnot listOfJobs}
					<h2>No Employees....</h2>
				#{/ifnot}
				#{else}
				<table class="zebra-striped">
					<thead>
						<tr>
							<th>Title</th>
							<th>Qualification</th>
							<th>Experience</th>
							<th>Salary(AED)</th>
							<th>Status</th>
						</tr>
					</thead>
					#{list items:listOfJobs, as: 'job'}
					<tbody>
						<tr>
							<td>${job?.title}</td>
							<td>${job?.qualification}</td>
							<td>${job?.experience}</td>
							<td>${job?.salary}</td>
							<td>
								<strong>
									#{if job?.status}<font color="green">VALID</font>#{/if}
									#{else}<font color="red">EXPIRED</font>#{/else}
								</strong>
							</td>
						</tr>
					</tbody>
					#{/list}
				</table>
				#{/else}
				</div>
		</div>
	</div>
</div>