#{extends 'main.html' /}
#{set title:'New Applicant SignUp' /}

<div class="content">
	<div class="row">
		<div class="span10">
			#{form @save(), class: 'form-stacked', id: 'signup-form'}
				<fieldset>
					<legend>New Applicant</legend>
					#{field 'applicant.fullName'}
					<div class="clearfix">
						<div class="input">
							<label for="fullName">Full Name *</label>
							<input class="span5" type="text" id="fullName" name="${field.name}" value="${applicant?.fullName}">
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.email'}
					<div class="clearfix">
						<div class="input">
							<label for="email">Email *</label>
							<input class="span5" id="email" type="text" name="${field.name}" value="${applicant?.email}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.password'}
					<div class="clearfix">
						<div class="input">
							<label for="password">Password *</label>
							<input class="span5" id="password" type="password" name="${field.name}" value="${applicant?.password}"/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'verifyPassword'}
					<div class="clearfix">
						<div class="input">
							<label for="verifyPassword">Re-type Password *</label>
							<input class="span5" id="verifyPassword" type="password" name="${field.name}" value="${verifyPassword}" />
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'applicant.expertise'}
					<div class="clearfix">
						<div class="input">
							<label for="expertise">Expertise *</label>
							<input class="span5" type="text" id="expertise" name="${field.name}" value="${applicant?.expertise}">
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
					#{/field}
					#{field 'code'}
					<div class="clearfix">
						<div class="input">
							<label for="code">Please type the code below: </label>
							<img src="@{Applicants.captcha(randomID)}" />
						</div>
					</div>
					<div class="clearfix">
						<div class="input">
							<label> </label>
							<input type="text" name="code" id="code" size="18" value="" />
							<input type="hidden" name="randomID" value="${randomID}" /><br/>
							<span class="help-inline"><font color="#f00">${field.error}</font></span>
						</div>
					</div>
			    #{/field}
					<input type="submit" class="btn primary" value="Sign Up"/>
				</fieldset>
			#{/form}
		</div>
	</div>
</div>