#{extends 'main.html' /}
#{set title:'Post New Job' /}

#{set 'moreScripts'}
#{script src: "jquery-ui-1.7.2.custom.min.js" /}
#{/set}
#{set 'moreStyles'}
#{stylesheet src: "ui-lightness/jquery-ui-1.7.2.custom.css" /}
#{/set}

<div class="content">
	<div class="page-header">
		#{include 'jobs_menu.html'/}
	</div>
	<div class="row">
		<div class="span14">
			#{form @postNewJob(), class: 'form-stacked'}
				<fieldset>
					<legend>Post New Job</legend>
					<span class="help-inline">
						<font color="red">
							#{if flash.error}
								${error ?: flash.error}
							#{/if}
						</font>
					</span>
					#{field 'job.category.id'}
					<div class="clearfix">
						<div class="input">
							<label for="jobCategory">Job Category *</label>
							#{select 'job.category.id'}
								#{list items:jobCategories, as: 'jobCategory'}
								#{option jobCategory.id}${jobCategory.name}#{/option}
								#{/list}
							#{/select}
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.title'}
					<div class="clearfix">
						<div class="input">
							<label for="title">Title *</label>
							<input class="span5" id="title" type="text" name="${field.name}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.description'}
					<div class="clearfix">
						<div class="input">
							<label for="description">Description</label>
							<textarea class="xxlarge" id="textarea2" name="${field.name}" rows="3"></textarea>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.gender'}
					<div class="clearfix">
						<div class="input">
							<label for="gender">Gender *</label>
							<input class="span1" id="gender" type="radio" name="${field.name}" value="Female" checked="true"/>Female
							<input class="span1" id="gender" type="radio" name="${field.name}" value="Male"/>Male
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.qualification'}
					<div class="clearfix">
						<div class="input">
							<label for="qualification">Qualification *</label>
							<input class="span5" id="qualification" type="text" name="${field.name}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.experience'}
					<div class="clearfix">
						<div class="input">
							<label for="experience">Experiences *</label>
							<input class="span5" id="experience" type="text" name="${field.name}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.salary'}
					<div class="clearfix">
						<div class="input">
							<label for="salary">Salary Package *</label>
							<input class="span5" id="salary" type="text" name="${field.name}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.benefits'}
					<div class="clearfix">
						<div class="input">
							<label for="benefits">Other Benefits</label>
							<input class="span5" id="benefits" type="text" name="${field.name}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.postedDate'}
					<div class="clearfix">
						<div class="input">
							<label for="postedDate">Posted Date *</label>
							<input class="span5" id="postedDate" type="text" name="${field.name}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.expiryDate'}
					<div class="clearfix">
						<div class="input">
							<label for="expiryDate">Expiry Date *</label>
							<input class="span5" id="expiryDate" type="text" name="${field.name}"/>
							<span class="help-inline"></span>
						</div>
					</div>
					#{/field}
					#{field 'job.employee.id'}
					<input type="hidden" name="${field.name}" value="${employee.id}">
					#{/field}
					<button type="submit" class="btn primary">Post New Job</button>
				</fieldset>
			#{/form}
		</div>
	</div>
</div>

<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
//<![CDATA[
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
//]]>
</script>

<script type="text/javascript" charset="${_response_encoding}">
    $(function() {
		$("#postedDate").datepicker({dateFormat: 'yy-mm-dd'});
		$("#expiryDate").datepicker({dateFormat: 'yy-mm-dd'});
	});
</script>