#{extends 'main.html' /}
#{set title:'Jobs' /}

<div class="content">
	<div class="page-header">		
		#{include 'jobs_menu.html'/}
	</div>
	<div class="row">
		<div class="span14">
			#{if flash.success}
			<div class="alert-message success" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${flash.success}</strong>
				</p>
			</div>
	    #{/if}
			#{if flash.error}
			<div class="alert-message error" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					<strong>${error ?: flash.error}</strong>
				</p>
			</div>
			#{/if}
			#{ifnot jobs}
				<h2>No Jobs....</h2>
			#{/ifnot}
			#{else}
			<h2>List of Jobs</h2>
			<table class="zebra-striped">
				<thead>
					<tr>
						<th>Category</th>
						<th>Title</th>
						<th>Posted Date</th>
						<th>Expiry Date</th>
						<th>Posted By</th>
						<th>Controls</th>
					</tr>
				</thead>
				#{list items:jobs, as: 'job'}
				<tbody>
					<tr>
						<td>${job?.category}</td>
						<td>${job?.title}</td>		
						<td>${job?.postedDate.format('dd MMM yyyy')}</td>
						<td>${job?.expiryDate.format('dd MMM yyyy')}</td>
						<td>${job?.employee.fullName}</td>
						<td>
							#{a @showJob(job?.id)}Show#{/a}||
							#{a @editJob(job?.id)}Edit#{/a}||
							#{a @removeJob(job?.id)}Remove#{/a}
						</td>
					</tr>
				</tbody>
				#{/list}
			</table>
			#{/else}
		</div>
	</div>
</div>