<!DOCTYPE html>
<html>
	<head>
		<title>Welcome ${applicant?.fullName}</title>
	</head>
	<body>
		<p>Welcome <b>${applicant?.fullName}</b>, </p>
		<br/>
		<p>
			You have successfully created an account in HumanEquationUAE portal. <br />
			Please 
			<a href="http://humanequationuae.herokuapp.com/applicants/applicant_login">signin</a> 
			to update your profiles and upload your CV too.
		</p>
		<p>
			Your Password is: ${applicant?.password}
		</p>
		<br/>
		<p>
			Thanks,<br/>
			HumanEquationUAE
		</p>
	</body>
</html>