/* Override some defaults */
html, body { background-color: #eee; }

/* 40px to make the container go all the way to the bottom of the topbar */
body { padding-top: 40px; }

/* center align it with the container */
.container > footer p { text-align: center; }

/* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
.container { width: 820px; }

/* The white background content wrapper */
.container > .content {
	background-color: #fff;
	padding: 20px;
	/* negative indent the amount of the padding to maintain the grid system */
	margin: 0 -20px; 
	-webkit-border-radius: 0 0 6px 6px;
	   -moz-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10 { min-height: 500px; }
.content .span4 { min-height: 500px; }

/* Styles for Login form */
#login-form {
	margin-top: 140px;
	padding-top: 20px;
	margin-left: 250px;
	border: 1px solid #eee;
	border-radius: 10px;
}

#login-form .link { padding-left: 100px; }

/* Styles for Applicant signUp Form */
#signup-form {
	margin-top: 10px;
	padding-top: 20px;
	margin-left: 250px;
	border: 1px solid #eee;
	border-radius: 10px;
}

#signup-form .link { padding-left: 100px; }

/* End of Form CSS */

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
	margin-left: 0;
	padding-left: 19px;
	border-left: 1px solid #eee;
}

.topbar .btn { border: 0; }