#{extends 'main.html' /}
#{set title:'Department' /}

<div class="content">
	<div class="page-header">
		#{include 'settings_menu.html'/}
	</div>
	<h2>Department</h2>
	#{if flash.success}
	<div class="alert-message success" data-alert="alert">
		<a class="close" href="#">×</a>
		<p>
			<strong>${flash.success}</strong>
		</p>
	</div>
  #{/if}
	#{if flash.error}
	<div class="alert-message error" data-alert="alert">
		<a class="close" href="#">×</a>
		<p>
			<strong>${error ?: flash.error}</strong>
		</p>
	</div>
	#{/if}
	<div class="row">
		<div class="span14">
			#{form @addDepartment(), class: 'form-stacked'}
			<fieldset>
				#{field 'department.name'}
				<div class="clearfix">
					<div class="input">
						<label for="department">Department *</label>
						<input class="span5" id="department" type="text" name="${field.name}"/>
						<span class="help-inline"></span>
					</div>
				</div>
				#{/field}
				<input type="submit" class="btn primary" value="Add Department" />
			</fieldset>
			#{/form}
		</div>
	</div>
	#{ifnot paginator}
		No Departments Found...
	#{/ifnot}
	#{else}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Control</th>
			</tr>
		</thead>
		<tbody>
		#{paginate.list items:paginator, as: 'department'}
			<tr>
				<td>${department?.name}</td>
				<td>#{a @editDepartment(department?.id)}Edit#{/a}</td>
			</tr>
		#{/paginate.list}
	</table>
	#{paginate.controls items:paginator /}
	#{paginate.summary items:paginator/}
	#{/else}
</div>