#{extends 'main.html' /}
#{set title:'Latest Jobs Listed' /}

<div class="content">
	<div class="page-header">
		<h5>
			#{a @EmployeeController.listJobs()}List Jobs#{/a} || 
			#{a @EmployeeController.newJob()}New Job#{/a}
		</h5>
	</div>
	<div class="row">
		<div class="span10">
				#{form @ApplicantController.login(), class: 'form-stacked', enctype: 'multipart/form-data', id: 'signup-form'}
					<fieldset>
						<legend>Post New Job</legend>
						<div class="clearfix">
							<div class="input">
								<label for="title">Title *</label>
								<input class="span5" id="title" type="text" name="title"/>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="clearfix">
							<div class="input">
								<label for="description">Description</label>
								<textarea class="span5" id="description" name="description"></textarea>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="clearfix">
							<div class="input">
								<label for="gender">Gender *</label>
								<input class="span5" id="gender" type="radio" name="gender"/>
								<input class="span5" id="gender" type="radio" name="gender"/>
								<span class="help-inline"></span>
							</div>
						</div>	
						<div class="clearfix">
							<div class="input">
								<label for="qualification">Qualification</label>
								<input class="span5" id="qualification" type="text" name="qualification"/>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="clearfix">
							<div class="input">
								<label for="experience">Experiences *</label>
								<input class="span5" id="experience" type="text" name="experience"/>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="clearfix">
							<div class="input">
								<label for="salary">Salary *</label>
								<input class="span5" id="salary" type="text" name="salary"/>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="clearfix">
							<div class="input">
								<label for="benefits">Benefits</label>
								<input class="span5" id="benefits" type="text" name="benefits"/>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="clearfix">
							<div class="input">
								<label for="postedDate">Posted Date *</label>
								<input class="span5" id="postedDate" type="text" name="postedDate"/>
								<span class="help-inline"></span>
							</div>
						</div>
						<div class="clearfix">
							<div class="input">
								<label for="expiryDate">Expiry Date *</label>
								<input class="span5" id="expiryDate" type="text" name="expiryDate"/>
								<span class="help-inline"></span>
							</div>
						</div>
						<button type="submit" class="btn primary">Post New Job</button>
					</fieldset>
				#{/form}
		</div>
	</div>
</div>