#{extends 'main.html' /}
#{set title:'Job Category' /}

<div class="content">
    <div class="page-header">
		#{include 'settings_menu.html'/}
    </div>
	<h2>Job Category</h2>
	#{ifnot jobCategories}
		No Job Categories Found...
	#{/ifnot}
	#{else}
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Control</th>
			</tr>
		</thead>
		<tbody>
		#{list items:jobCategories, as: 'category'}
			<tr>
				<td>${category.id}</td>
				<td>${category.name}</td>
				<td>
					#{a @removeJobCategory(category.id)}
						Remove
					#{/a}
				</td>
			</tr>
		#{/list}
	</table>
	#{/else}
    <div class="row">
      <div class="span10">
		#{form @addJobCategory(), class: 'form-stacked'}
		<fieldset>
			#{field 'jobCategory.name'}
			<div class="clearfix">
				<div class="input">
					<label for="jobCategory">Job Category *</label>
					<input class="span5" id="jobCategory" type="text" name="${field.name}" value="${jobCategory?.name}"/>
					<span class="help-inline">
						<font color="red">${field.error}</font>
					</span>
				</div>
			</div>
			#{/field}
			<button type="submit" class="btn primary">Add Job Category</button>
		</fieldset>
		#{/form}
      </div>
    </div>
  </div>