#{extends 'main.html' /}
#{set title:'Login' /}

#{form @Login.login(), id: 'login-form'}
	<p><h1>Login</h1></p>
	<p>
		<label for="username">Username *</label>
		<input type="text" class="input-large" name="username" /><br />
		<span class="error"></span>
	</p>
	<p>
		<label for="password">Password *</label>
		<input type="password" class="input-large" name="password" /><br/>
	</p>
	<p>
		<label for="submit"></label>
		<button type="submit" class="btn primary">Sign in</button>
		<a href="#forgetpassword" class="link">lost password?</a>		
	</p>
#{/form}
