#{extends 'main.html' /}
#{set title: 'Human Equation UAE'/}

<div class="content">
	<div class="page-header">
		<h2>${job?.category}</h2>
	</div>
	<div class="row">
		<div class="span10">
			#{ifnot job}
				No Job inside this category
			#{/ifnot}
			<div>
				<h2>${job?.title}</h2>
				<h4>Description:</h4>
				${job?.description.raw()}
				<br/>
			</div>
			<div style="float:right;">
				#{a @Applicants.login()}
					<button type="button" class="btn large primary">
						Apply Now
					</button>
				#{/a}
			</div>
		</div>
		<div class="span4">
			<h4>Other Details</h4>
			<h5>Qualification:</h5>
			${job?.qualification}
			<h5>Experience:</h5>
			${job?.experience}
			<h5>Gender:</h5>
			${job?.gender}
			<h5>Salary Package:</h5> 
			${job?.salary} AED
			#{if job?.benefits}
			<h5>Other Benefits:</h5>
			${job?.benefits}
			#{/if}
			<h5>Posted Date:</h5>
			${job?.postedDate.format('dd MMMM yyyy')}
			<h5>Expired Date:</h5>
			${job?.expiryDate.format('dd MMMM yyyy')}
		</div>
	</div>
</div>