#{extends 'main.html' /}
#{set title: 'Human Equation UAE'/}

<div class="content">
	<div class="page-header">
		<h2>Latest Job Openings</h2>
	</div>
	<div class="row">
		<div class="span10">
			<h2>Job Description - ${job.title}</h2>
			<p>
				#{ifnot job}
					No Job inside this category
				#{/ifnot}
			</p>
			<div>
				<ul>
					<li>Title: ${job.title}</li>
					<li>Description: ${job.description}</li>
					<li>Gender: ${job.gender}</li>
					<li>Qualification: ${job.qualification}</li>
					<li>Experience: ${job.experience}</li>
					<li>Salary: ${job.salary.formatCurrency('AED').raw()}</li>
					<li>Benefits: ${job.benefits}</li>
					<li>Posted Date: ${job.postedDate}</li>
					<li>Expired Date: ${job.expiryDate}</li>				
				</ul>
			</div>
			<div>
				#{a @ApplicationController.index()}Apply Now#{/a}
			</div>
		</div>
	</div>
</div>