<div class="topbar">
	<div class="fill">
		<div class="container">
			#{a @ApplicationController.index(), class: 'brand'}Human Equation UAE#{/a}
			<ul class="nav">
				<li>#{a @ApplicationController.index()}Home#{/a}</li>
				<li>#{a @ApplicantController.login()}Job Seeker Login#{/a}</li>
				<li>#{a @ApplicantController.signup()}Job Seeker SignUp#{/a}</li>
				<li>#{a @EmployeeController.index()}Employee Login#{/a}</li>
			</ul>
			#{if session.user}
			<p class="pull-right">Logged in as <a href="#">${session.employee}</a>||
					#{a @EmployeeController.logout()}Sign out#{/a}
				</p>				
			#{/if}
		</div>
	</div>
</div>