<div class="topbar">
	<div class="fill">
		<div class="container">
			#{if session?.userEmployee}
				#{a @Employees.index(), class: 'brand'}Human Equation UAE#{/a}
				<ul class="nav">
					<li>#{a @Employees.index()}Home#{/a}</li>
					<li>#{a @Jobs.postJob()}Post Jobs#{/a}</li>
					<li>#{a @Employees.cvPool()}CV Pool#{/a}</li>
					<li>#{a @Employees.settings()}Settings#{/a}</li>
				</ul>
				<p class="pull-right">
					#{a @Employees.settings()}${session?.userEmployee}#{/a} ||
					#{a @Employees.logout()}Sign out#{/a}
				</p>
			#{/if}
			#{else}
			#{a @Application.index(), class: 'brand'}Human Equation UAE#{/a}			
			<ul class="nav">
				<li>#{a @Applicants.login()}Job Seeker Login#{/a}</li>			
				<li>#{a @Employees.login()}Employee Login#{/a}</li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			#{/else}
		</div>
	</div>
</div>